@import "compass/reset";
@import "compass/css3/transition";
@import "zen";
@import "variables";
@import "social-sprite";

/***********************************************/
/*					GRID: ;		   			   */
/***********************************************/

$zen-column-count: 7;
$zen-gutter-width: 40px;

.container {
	@include zen-grid-container;
	padding: 120px 0 0 0;
}
.three-seventh {
	@include zen-grid-item(3,1);
}
.four-seventh {
	@include zen-grid-item(4,4);
}

/***********************************************/
/*					MODULES		   			   */
/***********************************************/

._inline-block {
	display: inline-block;
	*display: inline;
	zoom: 1;	
}

ul.inline > li {
	padding: 0 10px 0 0;
	@extend ._inline-block;
	&:last-child {
		padding: 0;
	}
}

ul.l-v-list > li {
	margin-bottom: 15px;
}

/***********************************************/
/*					TYPOGRAPHY   			   */
/***********************************************/

body {
	background: #f2f2f2 url(../images/noise.png);
	font-family: "utopia-std",serif;
	font-size: 16px;
	color: $secondary-color;
}

@for $i from 1 through 4 {
	h#{$i}, .h#{$i} {
		font-family: "crete-rounded-web",serif;
		font-weight: 400;
	}
}

h1, .h1 {
	@extend .class-for-24px;
	color: $primary-color;
	//text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
}

h2, .h2 {
	@extend .class-for-22px;
	color: $primary-color;
}

h3, .h3 {
	@extend .class-for-18px;
}

h4, .h4 {
	@extend .class-for-14px;
	font-style: italic;
}

h5, .h5 {
	@extend .class-for-12px;
}

p {
  font-size: 1em; /* 16px */
  line-height: 1.5em; /* 24px */
  margin: 1.5em 0 1.5em 0;
}

.class-for-24px {
  font-size: 1.5em; /* 24px */
  line-height: 1em; /* 24px */
  margin-top: 1em;
  margin-bottom: 1em;
}

.class-for-22px {
  font-size: 1.375em; /* 22px */
  line-height: 1.0909em; /* 24px */
  margin-top: 1.0909em;
  margin-bottom: 1.0909em;
}

.class-for-18px {
  font-size: 1.125em; /* 18px */
  line-height: 1.3333em; /* 24px */
  margin-top: 1.3333em;
  margin-bottom: 1.3333em;
}

.class-for-16px {
  font-size: 1em; /* 16px */
  line-height: 1.5em; /* 24px */
  margin-top: 1.5em;
  margin-bottom: 0em;
}

.class-for-14px {
  font-size: 0.875em; /* 14px */
  line-height: 1.7143em; /* 24px */
  margin-top: 1.7143em;
  margin-bottom: 0em;
}

.class-for-12px {
  font-size: 0.75em; /* 12px */
  line-height: 2em; /* 24px */
  margin-top: 2em;
  margin-bottom: 0em;
}

.number {
	color: $primary-color;
}
/***********************************************/
/*					TAG LEVEL   			   */
/***********************************************/

a {
	text-decoration: none;
	color: $primary-color;
	border-bottom: 1px solid rgba(11, 97, 164, 0.1);
	@include transition(all 0.15s linear);
	&:hover {
		border-bottom: 1px solid rgba(11, 97, 164, 1);
	}
}

.bio p {
	padding-right: 100px;
}

.post {
	width: 550px;
}

/***********************************************/
/*					FUCKERY: ;   			   */
/***********************************************/


.three-seventh.fixed {
	position: fixed;
	top: -320px;
	left: 0;
}